# This file is a bash script. It is interpreted by direnv.
#
# Please install `direnv` with your favorite package manager (apt, homebrew,
# yum, ...) and follow the SETUP instructions in the direnv man page to
# activate this feature for your shell. https://direnv.net/#man/direnv.1

is_numeric() {
    [[ "$1" =~ ^-?[0-9]+$ ]]
}

user_exists() {
    id "$1" > /dev/null 2>&1
}

inside-docker_moduser() {
    USERNAME="$1" NEWUID="$2" NEWGID="$3"

    user_exists "$USERNAME" \
    && is_numeric "$NEWUID" \
    && is_numeric "$NEWGID" || {
        echo "Set a new user id and group id for a user."
        echo "Usage: ${FUNCNAME[0]} username newuid newgid"
        return 1
    }

    GROUPNAME=$(id -gn $USERNAME)
    OLDUID=$(id -u $USERNAME)
    OLDGID=$(id -g $USERNAME)

    if [[ "$NEWUID" != "$OLDUID" ]]; then
        usermod -u $NEWUID $USERNAME
        groupmod -g $NEWGID $GROUPNAME
        find / -user $OLDUID -exec chown -h $NEWUID {} \;
        find / -group $OLDGID -exec chgrp -h $NEWGID {} \;
        usermod -g $NEWGID $USERNAME
    fi
}

docker-dotenv() {
    touch .env
    sed -i '/^LOCAL_UID=/d' .env
    sed -i '/^LOCAL_GID=/d' .env
    echo "LOCAL_UID=$(id -u)" >> .env
    echo "LOCAL_GID=$(id -g)" >> .env
    cat .env
}

docker-alias() {
    ALIAS_COUNT=$(alias | grep "docker-compose run" | wc -l)
    alias | grep --color=never "docker-compose run" | sed 's/^alias/-/'

    if [[ $ALIAS_COUNT > 0 ]]; then
        echo $ALIAS_COUNT' aliases to make Docker painless. Remove them with `docker-unalias`.'
    else
        echo 'No aliases active for painless use of Docker.'
        echo 'Run `docker-setalias` to activate aliases.'
    fi
    return $ALIAS_COUNT
}

docker-setalias() {
    TOOL_SERVICES=$(grep -B1 -E '^\s+image: painless/.' docker-compose.override.yml | \
        sed -E '/^\s+image: painless/d' | sed -e 's/^\s+//' -e 's/:.*//' -e '/^--$/d')
    for CMD in $TOOL_SERVICES; do
        alias $CMD="docker-compose run $CMD"
    done
    docker-alias
}

docker-unalias() {
    ALIAS_LIST=$(docker-alias | grep '^- ' | sed -e 's/- //' -e 's/=.*//')
    for LINE in $ALIAS_LIST; do
        echo $LINE
        unalias $LINE
    done
}
