# Painless deployment with Bitbucket Pipelines.
# Visit the docs at https://support.atlassian.com/bitbucket-cloud/docs/configure-bitbucket-pipelinesyml/
# Validator: https://bitbucket-pipelines.prod.public.atl-paas.net/validator

options:
  docker: true

image: docker.io/painless/tox

definitions:
  steps:
  - parallel: &checks
    - step:
        name: Flake8
        script:
        - tox -e flake8
    - step:
        name: Pylint
        script:
        - tox -e pylint
    - step:
        name: Bandit
        script:
        - tox -e bandit || true

  - parallel: &tests
    - step:
        name: Python 3.8
        script:
        - tox -e py38
    - step:
        name: PyPy 3
        script:
        - tox -e pypy3
    - step:
        name: Behave
        script:
        - tox -e behave

  - step: &field-test
      name: Deploy example-flask
      deployment: Production
      script:
      - tests/field/example-flask.sh

pipelines:
  pull-requests:
    '**':
    - parallel: *checks
    - parallel: *tests

  branches:
    master:
    - parallel: *checks
    - parallel: *tests
    - step: *field-test
