# Painless deployment with Bitbucket Pipelines.
# Visit the docs at https://confluence.atlassian.com/x/VYk8Lw

image: painless/tox:multi

pipelines:
  default:
  - parallel: &linting
    - step:
        name: Flake8
        script:
        - tox -e flake8
    - step:
        name: Pylint
        script:
        - tox -e pylint

  - parallel: &tests
    - step:
        name: Python 3.5
        script:
        - tox -e py35
    - step:
        name: Python 3.6
        script:
        - tox -e py36
    - step:
        name: Python 3.7
        script:
        - tox -e py37
    - step:
        name: PyPy 3
        script:
        - tox -e pypy3
    - step:
        name: Behave
        script:
        - tox -e behave

  branches:
    master:
    - parallel: *linting
    - parallel: *tests

    - step:
        name: Staging
        deployment: Staging
        script:
        - echo 'This build would deploy to Staging now.'

  tags:
    '*':
    - parallel: *linting
    - parallel: *tests

    - step:
        name: Production
        deployment: Production
        trigger: manual
        script:
        - echo 'This build would deploy to Production now.'
