
  - parallel: &checks
    {%- for env in cookiecutter.checks.split(",") %}
    - step:
        name: {{ env|capitalize }}
        script:
        {%- if cookiecutter.framework in ['Django', 'Flask'] %}
        - tox -e {{ env }}
        {%- elif cookiecutter.framework in ['SpringBoot'] %}
        - echo "This should run {{ env }}"
        {%- endif %}
    {%- endfor -%}
