  - step: &build
      name: Build image
      image: docker.io/library/docker
      caches:
      - docker
      script:
      - REGISTRY={{ cookiecutter.docker_registry }}
        TARGET={{ cookiecutter.cloud_project }}{% if cookiecutter.environment_strategy == 'dedicated' %}-development{% endif %}
        IMAGE="${REGISTRY}/${TARGET}/${BITBUCKET_REPO_SLUG}"
      - docker login -u bitbucket-pipelines -p ${KUBE_TOKEN} ${REGISTRY}
      - docker pull "${IMAGE}:latest" || true
      - docker build -t "${IMAGE}:${BITBUCKET_COMMIT}"
                     -t "${IMAGE}:latest"
                     -f "deployment/application/Dockerfile" .
      - docker push "${IMAGE}"
