# Painless deployment with Bitbucket Pipelines.
# Visit the docs at https://confluence.atlassian.com/bitbucket/configure-bitbucket-pipelines-yml-792298910.html

{% include '_/ci-services/definitions/%s' % cookiecutter.ci_service %}
pipelines:
  custom:
    review-app:
    - step: *build
    - step: *deploy-review-app

  pull-requests:
    '**':
    - parallel: *checks
    - parallel: *tests
    - step: *build
    - step: *deploy-review-app

  branches:
    master:
    - parallel: *checks
    - parallel: *tests
    - step: *build
    - step: *deploy-integration

  tags:
    '*':
    - step: *deploy-production
