# Painless deployment with Bitbucket Pipelines.
# Visit the docs at https://confluence.atlassian.com/x/VYk8Lw

image: painless/tox:multi

pipelines:
  default:
  - parallel: &linting
    {%- for env in cookiecutter.checks.split(",") %}
    - step:
        name: {{ env|capitalize }}
        script:
        - tox -e {{ env }}
    {%- endfor %}

  - parallel: &tests
    {%- for env in cookiecutter.tests.split(",") %}
    - step:
        name: {{ env|replace('py35','Python 3.5')|replace('py36','Python 3.6')|replace('py37','Python 3.7')|replace('pypy3','PyPy 3')|replace('behave','Behave') }}
        script:
        - tox -e {{ env }}
    {%- endfor %}

  branches:
    master:
    - parallel: *linting
    - parallel: *tests

    - step:
        name: Staging
        deployment: Staging
        script:
        - echo 'This build would deploy to Staging now.'

  tags:
    '*':
    - parallel: *linting
    - parallel: *tests

    - step:
        name: Production
        deployment: Production
        trigger: manual
        script:
        - echo 'This build would deploy to Production now.'
