
development:
  extends: .deploy
  environment:
    name: development
    url: https://console.appuio.ch/console/project/{{ cookiecutter.project_slug }}-dev/overview
  variables:
    SOURCE: {{ cookiecutter.project_slug }}-dev
    TARGET: {{ cookiecutter.project_slug }}-dev
  only:
  - merge_requests

integration:
  extends: .deploy
  environment:
    name: integration
    url: https://console.appuio.ch/console/project/{{ cookiecutter.project_slug }}-int/overview
  variables:
    SOURCE: {{ cookiecutter.project_slug }}-dev
    TARGET: {{ cookiecutter.project_slug }}-int
  only:
  - master

production:
  extends: .deploy
  environment:
    name: production
    url: https://console.appuio.ch/console/project/{{ cookiecutter.project_slug }}-prod/overview
  variables:
    SOURCE: {{ cookiecutter.project_slug }}-int
    TARGET: {{ cookiecutter.project_slug }}-prod
  only:
  - tags
