  - script:
    - &generate-secrets-vars
      DJANGO_SECRET_KEY=$(cat /dev/urandom | tr -dc A-Za-z0-9 | head -c50)
      DATABASE_PASSWORD=$(cat /dev/urandom | tr -dc A-Za-z0-9 | head -c16)
      APP_NAME=application{% if cookiecutter.environment_strategy == 'shared' %}-${BITBUCKET_DEPLOYMENT_ENVIRONMENT}{% endif %}
      DATABASE_HOST={{ cookiecutter.database|lower }}{% if cookiecutter.environment_strategy == 'shared' %}-${BITBUCKET_DEPLOYMENT_ENVIRONMENT}{% endif %}
      DATABASE_NAME={{ cookiecutter.project_slug.replace('-', '_') }}
      DATABASE_USER={{ cookiecutter.project_slug.replace('-', '_') }}
    - &generate-secrets-app
      oc -n ${TARGET} get secret ${APP_NAME} ||
      oc -n ${TARGET} create secret generic ${APP_NAME}
        --from-literal=DJANGO_DATABASE_URL={{ cookiecutter.database|lower }}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}/${DATABASE_NAME}
        --from-literal=DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
  {%- if cookiecutter.monitoring == 'Sentry' %}
        --from-literal=SENTRY_DSN=${SENTRY_DSN}
  {%- endif %}
    - &generate-secrets-db
      oc -n ${TARGET} get secret ${DATABASE_HOST} ||
      oc -n ${TARGET} create secret generic ${DATABASE_HOST}
        --from-literal=POSTGRESQL_DATABASE=${DATABASE_NAME}
        --from-literal=POSTGRESQL_USERNAME=${DATABASE_USER}
        --from-literal=POSTGRESQL_PASSWORD=${DATABASE_PASSWORD}

  - step: &deploy-review-app
      name: Deploy Review App
      deployment: development
      image: docker.io/appuio/oc:v3.11
      script:
      - TARGET=${BITBUCKET_REPO_SLUG}{% if cookiecutter.environment_strategy == 'dedicated' %}-${BITBUCKET_DEPLOYMENT_ENVIRONMENT}{% endif %}
        APP_NAME=review-pr${BITBUCKET_PR_ID}
      - oc login ${KUBE_URL} --token="${KUBE_TOKEN}" -n "${TARGET}"
      - *generate-secrets-vars
      - *generate-secrets-app
      - *generate-secrets-db
      - pushd deployment/application/base &&
        kustomize edit add label name:${APP_NAME} &&
        kustomize edit set image IMAGE="docker-registry.default.svc:5000/${TARGET}/${BITBUCKET_REPO_SLUG}:${BITBUCKET_COMMIT}" &&
        popd
      - kustomize build deployment/application/overlays/${BITBUCKET_DEPLOYMENT_ENVIRONMENT} | oc apply -f -
      - kustomize build deployment/database/overlays/${BITBUCKET_DEPLOYMENT_ENVIRONMENT} | oc apply -f -
      - echo -e "\n"
                "Review App has been deployed to:\n"
                "- ${KUBE_URL}/console/project/${TARGET}/overview\n"
                "\n"
                "Review App is available at:\n"
                "- https://${APP_NAME}-${TARGET}.appuioapp.ch/\n"
                "\n"
                "Remove all related resources with >   ++ USE WITH CAUTION ++\n"
                "  oc -n ${TARGET} delete all,configmap,pvc,secret -l app=${APP_NAME}"

  - step: &deploy-integration
      name: Deploy to Integration
      deployment: integration
      image: docker.io/appuio/oc:v3.11
      script:
      - SOURCE=${BITBUCKET_REPO_SLUG}{% if cookiecutter.environment_strategy == 'dedicated' %}-development{% endif %}
        TARGET=${BITBUCKET_REPO_SLUG}{% if cookiecutter.environment_strategy == 'dedicated' %}-${BITBUCKET_DEPLOYMENT_ENVIRONMENT}{% endif %}
      - oc login ${KUBE_URL} --token="${KUBE_TOKEN}" -n "${TARGET}"
      - oc tag "${SOURCE}/${BITBUCKET_REPO_SLUG}:${BITBUCKET_COMMIT}"
               "${TARGET}/${BITBUCKET_REPO_SLUG}:${BITBUCKET_COMMIT}"
      - *generate-secrets-vars
      - *generate-secrets-app
      - *generate-secrets-db
      - pushd deployment/application/base &&
        kustomize edit set image IMAGE="docker-registry.default.svc:5000/${TARGET}/${BITBUCKET_REPO_SLUG}:${BITBUCKET_COMMIT}" &&
        popd
      - kustomize build deployment/application/overlays/${BITBUCKET_DEPLOYMENT_ENVIRONMENT} | oc apply -f -
      - kustomize build deployment/database/overlays/${BITBUCKET_DEPLOYMENT_ENVIRONMENT} | oc apply -f -
      - echo -e "\n"
                "Application has been deployed to:\n"
                "- ${KUBE_URL}/console/project/${TARGET}/overview\n"
                "\n"
                "Application is available at:\n"
                "- https://${BITBUCKET_REPO_SLUG}-${TARGET}.appuioapp.ch/"

  - step: &deploy-production
      name: Deploy to Production
      deployment: production
      image: docker.io/appuio/oc:v3.11
      script:
      - SOURCE=${BITBUCKET_REPO_SLUG}{% if cookiecutter.environment_strategy == 'dedicated' %}-integration{% endif %}
        TARGET=${BITBUCKET_REPO_SLUG}{% if cookiecutter.environment_strategy == 'dedicated' %}-${BITBUCKET_DEPLOYMENT_ENVIRONMENT}{% endif %}
      - oc login ${KUBE_URL} --token="${KUBE_TOKEN}" -n "${TARGET}"
      - oc tag "${SOURCE}/${BITBUCKET_REPO_SLUG}:${BITBUCKET_COMMIT}"
               "${TARGET}/${BITBUCKET_REPO_SLUG}:${BITBUCKET_TAG}"
      - *generate-secrets-vars
      - *generate-secrets-app
      - *generate-secrets-db
      - pushd deployment/application/base &&
        kustomize edit set image IMAGE="docker-registry.default.svc:5000/${TARGET}/${BITBUCKET_REPO_SLUG}:${BITBUCKET_TAG}" &&
        popd
      - kustomize build deployment/application/overlays/${BITBUCKET_DEPLOYMENT_ENVIRONMENT} | oc apply -f -
      - kustomize build deployment/database/overlays/${BITBUCKET_DEPLOYMENT_ENVIRONMENT} | oc apply -f -
      - echo -e "\n"
                "Application has been deployed to:\n"
                "- ${KUBE_URL}/console/project/${TARGET}/overview\n"
