Django>=3.2.12,<4.0
{%- if cookiecutter.monitoring == 'Datadog' %}
django-datadog
{%- endif %}
django-environ
django-probes
{%- if cookiecutter.database == 'MySQL' %}
mysql-connector
{%- endif %}
{%- if cookiecutter.monitoring == 'NewRelic' %}
newrelic
{%- endif %}
{%- if cookiecutter.database == 'Postgres' %}
psycopg2
{%- endif %}
{%- if cookiecutter.monitoring == 'Sentry' %}
sentry-sdk
{%- endif %}
uwsgi
